.App {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  grid-template-areas: 
  "header header"
  "editor render";
}

.App div {
  height: 90vh;
  margin-bottom: 1em;
}

.App .editor {
  grid-area: editor;
  margin-left: 1em;
}

.App .render {
  grid-area: render;
  background-color: antiquewhite;
  margin-right: 1em;
}

header {
  grid-column: 1 / span 2; 
  background-color: antiquewhite;
  height: 10vh;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2em;
  font-family: Roboto;
}

textarea {
  height: 90vh;
  width: 100%;
}

.render .text {
  padding: 1em;
}

@media screen and (max-width: 860px) {
  .App {
    grid-template-columns: 1fr;
    gap: 1em 0;
    grid-template-areas: 
    "header"
    "editor"
    "render";
  }

  .App div {
    margin: 0 1em;
  }
  .App > div:last-child {
    margin-bottom: 1em;
  }
}